

.accordion {
  background: $white;
  margin: 0 auto 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  padding: 16px 0;

  p a {
    color: $brand;
  }
}


.accordion__hd {
  position: relative;
  padding: 18px 44px 18px 12px;

  @include start-at($medium) {
    padding: 18px 80px 18px 36px;
  }

  display: flex;
  align-items: center;
  justify-content: flex-start;

  h4 {
    display: flex;
    align-items: center;
    transition: color $trans;
    color: $black;
    font-weight: 500 !important;
    padding-right: 44px;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 14px;
      height: 14px;
      background: url('./images/svgs/plus.svg') center / cover no-repeat;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      margin-right: 17px;
      opacity: 1;
      transition: opacity $trans, transform $trans;

      @include start-at($medium) {
        width: 24px;
        height: 24px;
      }
    }

    &:before {
      background: url('./images/svgs/minus.svg') center / cover no-repeat;
      opacity: 0;
    }
  }

  &:hover {
    cursor: pointer;

    h4:after {
      transform: rotate(-180deg);
    }
  }

  .is-open & {
    h4:after {
      opacity: 0;
    }
    h4:before {
      opacity: 1;
    }
    h4 {
      color: $brand;
    }
  }
}

.accordion__bd {
  max-height: 0;
  overflow: hidden;

  padding: 0 44px 0 12px;

  @include start-at($medium) {
    padding-right: 80px;
    padding: 0 80px 0 36px;
  }

  transition: max-height 0.4s ease-out;

  > * {
    padding-bottom: 16px;
  }
}

.accordion--short {
  .accordion__hd {
    padding-bottom: 12px;
  }
}

.accordions__expand-all {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;

  @include start-at($medium) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  span {
    color: $gray !important;
  }

  svg {
    margin-right: 8px;
    background: $gray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: transform 0.6s ease;
  }

  &.is-open {
    svg {
      transform: rotate(135deg);
    }
  }
}


.accordions--expanded {

  .accordion {
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none;

    .accordion__hd {
      padding: 0;

      h4 {
        border-bottom-color: $brand;
      }

      h4:after {
        background: url('./images/svgs/chevron-down.svg') center / 14px 8px no-repeat;
        transform: none !important;
      }

      &:before {
        display: none !important;
      }
    }

    .accordion__bd {
      padding: 0;
    }
  }

  @include stop-at($medium) {
    .accordion {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;

      + .accordion {
        border-top: none;
      }

      .accordion__hd {
        padding: 12px $wrapper-padding;
      }
      .accordion__bd {
        padding-left: $wrapper-padding;
        padding-right: $wrapper-padding;
      }

      &.is-open {
        h4:after {
          background: url('./images/svgs/chevron-down.svg') center / 14px 8px no-repeat;
        //  opacity: 1;
        }
        h4:before {
          //display: none !important;
        }
      }
    }
  }
  @include start-at($medium) {
    .accordion {
      margin-bottom: 48px;

      .accordion__hd {

        &:hover {
          cursor: default;
        }
      }

      h4 {
        @include h4;
        border-bottom: 1px solid $black;
        width: 100%;
        padding: 0 0 12px;
        color: $black !important;
        display: inline-block;

        &:before {
          display: none !important;
        }

        &:after {
          display: none;
        }
      }
    }

    .accordion .accordion__bd {
      max-height: none !important;
      padding-top: 15px;
    }
  }
}
