// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------


.js-carousel-testimonial {
  background: $black;
}

.testimonial {
  background: $black;
  position: relative;
  color: $white;
  padding: 36px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 42px;
    height: 42px;
    background: url('./images/svgs/quotes.svg') center / 42px 31px no-repeat;
    transform: scale(0.6);

    @include start-at($large) {
      transform: scale(1);
    }

    @include start-at(1500px) {
      top: 58px;
      left: 54px;
    }
  }

  @include start-at($large) {
    padding: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  @include start-at(1500px) {
    padding: 106px;
  }
}


// ----------------------------------------
//
// ----------------------------------------

.testimonial__stat {
  display: flex;
  margin-bottom: 24px;

  @include start-at($large) {
    margin-right: 24px;

    + .testimonial__content {
      margin-right: 0;
    }
  }

  img {
    width: 80px;
    min-width: 80px;
    margin-right: 24px;
  }
}

.testimonial__stat__stat {

  > span:first-child {
    display: block;
    font-family: $heading;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 80%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 4px;
  }
  > span:last-child {

  }
}

// ----------------------------------------
//
// ----------------------------------------

.testimonial__content {
  display: block;

  @include start-at($large) {
    max-width: 600px;
  }

  q {

    &:before,
    &:after {
      display: none;
    }
    @include h4;
    font-family: $sans-serif;
    font-weight: 500 !important;
  }
}


.testimonial__content.testimonial__content--lg {

  q {
    @include h3;
  }

  @include start-at($large) {
    max-width: 800px;
    margin: 0 auto;
  }

}

.author {
  display: flex;
  align-items: center;
  font-size: 14px;

  figure {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 12px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  div {
    span {
      display: block;
    }
    > span:first-child {
      font-weight: 500;
    }
  }
}
